body {
    background-color: #0F172A;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #f0f0f0;
    overflow: hidden; 
}

.container {
    background-color: #0F172A;
    padding: 60px;
    border-radius: 20px;
    text-align: center;
    width: 400px;
   
    opacity: 0; 
    transform: translateY(50px); 
    animation: slideInUp 0.8s ease-out forwards; 
}


.key-icon-container {
    width: 100px;
    height: 100px;
    background-color: #b7c3d4;
    border-radius: 50%;
    margin: 0 auto 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.key-icon {
    font-size: 50px;
    color: #8894AD;
}

.title {
    font-size: 30px;
    margin-bottom: 40px;
    color: #e0e0e0;
    font-weight: 400;
}

.input-group {
    text-align: left;
    margin-bottom: 20px;
}

label {
    font-size: 16px;
    color: #e0e0e0;
    display: block;
    margin-bottom: 5px;
}

.icon {
    font-size: 14px;
    margin-right: 5px;
    color: #9abed4;
}

input {
    width: 100%;
    padding: 10px 0;
    border: none;
    border-bottom: 2px solid #9abed4;
    background-color: transparent;
    color: #fff;
    font-size: 16px;
    box-sizing: border-box;
    outline: none;
}

.separator {
    font-size: 14px;
    color: #aaa;
    margin: 20px 0;
}

.reset-btn {
    background-color: #8894AD;
    color: #171d2b;
    border: none;
    padding: 12px 30px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
    text-decoration: none; 
}


@keyframes slideInUp {
    from {
        opacity: 0;
        transform: translateY(50px); 
    }
    to {
        opacity: 1;
        transform: translateY(0); 
    }
}